$aqua-000: #56b6c2;
$aqua-100: #56b6c2;
$aqua-200: #56b6c2;
$aqua-300: #56b6c2;
$orange-000: #d19a66;
$orange-100: #d19a66;
$orange-200: #d19a66;
$orange-300: #d19a66;


@font-face {
    font-family: avenir lt pro;
    font-style: normal;
    font-weight: 400;
    src: local('Avenir LT Pro'), url(https://fonts.cdnfonts.com/s/36611/AvenirLTProBook.woff) format('woff')
}

@font-face {
    font-family: avenir lt pro;
    font-style: normal;
    font-weight: 400;
    src: local('Avenir LT Pro'), url(https://fonts.cdnfonts.com/s/36611/AvenirLTProBookOblique.woff) format('woff')
}

@font-face {
    font-family: avenir lt pro;
    font-style: normal;
    font-weight: 400;
    src: local('Avenir LT Pro'), url(https://fonts.cdnfonts.com/s/36611/AvenirLTProRoman.woff) format('woff')
}

@font-face {
    font-family: avenir lt pro;
    font-style: italic;
    font-weight: 400;
    src: local('Avenir LT Pro'), url(https://fonts.cdnfonts.com/s/36611/AvenirLTProOblique.woff) format('woff')
}

@font-face {
    font-family: avenir lt pro;
    font-style: normal;
    font-weight: 300;
    src: local('Avenir LT Pro'), url(https://fonts.cdnfonts.com/s/36611/AvenirLTProLight.woff) format('woff')
}

@font-face {
    font-family: avenir lt pro;
    font-style: italic;
    font-weight: 300;
    src: local('Avenir LT Pro'), url(https://fonts.cdnfonts.com/s/36611/AvenirLTProLightOblique.woff) format('woff')
}

@font-face {
    font-family: avenir lt pro;
    font-style: normal;
    font-weight: 500;
    src: local('Avenir LT Pro'), url(https://fonts.cdnfonts.com/s/36611/AvenirLTProMedium.woff) format('woff')
}

@font-face {
    font-family: avenir lt pro;
    font-style: normal;
    font-weight: 500;
    src: local('Avenir LT Pro'), url(https://fonts.cdnfonts.com/s/36611/AvenirLTProMediumOblique.woff) format('woff')
}

@font-face {
    font-family: avenir lt pro;
    font-style: normal;
    font-weight: 700;
    src: local('Avenir LT Pro'), url(https://fonts.cdnfonts.com/s/36611/AvenirLTProHeavy.woff) format('woff')
}

@font-face {
    font-family: avenir lt pro;
    font-style: italic;
    font-weight: 700;
    src: local('Avenir LT Pro'), url(https://fonts.cdnfonts.com/s/36611/AvenirLTProHeavyOblique.woff) format('woff')
}

@font-face {
    font-family: avenir lt pro;
    font-style: normal;
    font-weight: 750;
    src: local('Avenir LT Pro'), url(https://fonts.cdnfonts.com/s/36611/AvenirLTProBlack.woff) format('woff')
}

@font-face {
    font-family: avenir lt pro;
    font-style: italic;
    font-weight: 750;
    src: local('Avenir LT Pro'), url(https://fonts.cdnfonts.com/s/36611/AvenirLTProBlackOblique.woff) format('woff')
}