@font-face {
  font-family: 'AvenirNextLTPro-Regular';
  src: url(/assets/fonts/AvenirNextLTPro/AvenirNextLTPro-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'AvenirNextLTPro-Bold';
  src: url(/assets/fonts/AvenirNextLTPro/AvenirNextLTPro-Bold.ttf) format('truetype');
}