@font-face {
  font-family: 'Avenir Next';
  src: url('https://cdn.ventmere.com/edifier-dev/fonts-avenir/AvenirNext-Regular.ttf') format('truetype'),
       url('https://cdn.ventmere.com/edifier-dev/fonts-avenir/AvenirNext-Regular.eot') format('embedded-opentype'),
       url('https://cdn.ventmere.com/edifier-dev/fonts-avenir/AvenirNext-Regular.woff2') format('woff2'),
       url('https://cdn.ventmere.com/edifier-dev/fonts-avenir/AvenirNext-Regular.svg') format('svg');
}

@font-face {
  font-family: 'Avenir Next Demi';
  src: url('https://cdn.ventmere.com/edifier-dev/fonts-avenir/AvenirNextLTPro-Demi.ttf') format('truetype'),
       url('https://cdn.ventmere.com/edifier-dev/fonts-avenir/AvenirNextLTPro-Demi.eot') format('embedded-opentype'),
       url('https://cdn.ventmere.com/edifier-dev/fonts-avenir/AvenirNextLTPro-Demi.woff') format('woff'),
       url('https://cdn.ventmere.com/edifier-dev/fonts-avenir/AvenirNextLTPro-Demi.woff2') format('woff2'),
       url('https://cdn.ventmere.com/edifier-dev/fonts-avenir/AvenirNextLTPro-Demi.svg') format('svg');
}

@font-face {
  font-family: 'Avenir Next Medium';
  src: url('https://cdn.ventmere.com/edifier-dev/fonts-avenir/AvenirNext-Medium.ttf') format('truetype'),
       url('https://cdn.ventmere.com/edifier-dev/fonts-avenir/AvenirNext-Medium.eot') format('embedded-opentype'),
       url('https://cdn.ventmere.com/edifier-dev/fonts-avenir/AvenirNext-Medium.woff2') format('woff2'),
       url('https://cdn.ventmere.com/edifier-dev/fonts-avenir/AvenirNext-Medium.svg') format('svg');
}

@font-face {
  font-family: 'Avenir Next Demi Bold';
  src: url('https://cdn.ventmere.com/edifier-dev/fonts-avenir/AvenirNext-DemiBold.ttf') format('truetype'),
       url('https://cdn.ventmere.com/edifier-dev/fonts-avenir/AvenirNext-DemiBold.eot') format('embedded-opentype'),
       url('https://cdn.ventmere.com/edifier-dev/fonts-avenir/AvenirNext-DemiBold.woff') format('woff'),
       url('https://cdn.ventmere.com/edifier-dev/fonts-avenir/AvenirNext-DemiBold.woff2') format('woff2'),
       url('https://cdn.ventmere.com/edifier-dev/fonts-avenir/AvenirNext-DemiBold.svg') format('svg');
}


/* 
https://cdn.ventmere.com/edifier-dev/fonts-avenir/AvenirNext-Medium.ttf
https://cdn.ventmere.com/edifier-dev/fonts-avenir/AvenirNext-Medium.eot
https://cdn.ventmere.com/edifier-dev/fonts-avenir/AvenirNext-Regular.woff
https://cdn.ventmere.com/edifier-dev/fonts-avenir/AvenirNextLTPro-Demi.svg
https://cdn.ventmere.com/edifier-dev/fonts-avenir/AvenirNextLTPro-Demi.eot
https://cdn.ventmere.com/edifier-dev/fonts-avenir/AvenirNext-DemiBold.svg
https://cdn.ventmere.com/edifier-dev/fonts-avenir/AvenirNext-DemiBold.woff2
https://cdn.ventmere.com/edifier-dev/fonts-avenir/AvenirNext-DemiBold.woff
https://cdn.ventmere.com/edifier-dev/fonts-avenir/AvenirNextLTPro-Demi.woff2
https://cdn.ventmere.com/edifier-dev/fonts-avenir/AvenirNext-Regular.ttf
https://cdn.ventmere.com/edifier-dev/fonts-avenir/AvenirNext-Regular.eot
https://cdn.ventmere.com/edifier-dev/fonts-avenir/AvenirNext-Regular.woff2
https://cdn.ventmere.com/edifier-dev/fonts-avenir/AvenirNext-Regular.svg
https://cdn.ventmere.com/edifier-dev/fonts-avenir/AvenirNext-Medium.woff2
https://cdn.ventmere.com/edifier-dev/fonts-avenir/AvenirNextLTPro-Demi.woff
https://cdn.ventmere.com/edifier-dev/fonts-avenir/AvenirNext-DemiBold.eot
https://cdn.ventmere.com/edifier-dev/fonts-avenir/AvenirNext-DemiBold.ttf
https://cdn.ventmere.com/edifier-dev/fonts-avenir/AvenirNextLTPro-Demi.ttf
https://cdn.ventmere.com/edifier-dev/fonts-avenir/AvenirNext-Medium.svg
https://cdn.ventmere.com/edifier-dev/fonts-avenir/AvenirNext-Medium.woff */
