---
layout: default
---
{% assign lines = content | split: '</blockquote>' %}
{% assign output = '' %}

{% for block in lines %}
  {% if block contains '[!' %}
    {% assign parts = block | split: '<blockquote>' %}
    {% assign pre_blockquote = parts[0] %}
    {% assign blockquote_content = parts[1] %}
    {% assign callout_parts = blockquote_content | split: ']' %}
    {% assign callout_info = callout_parts[0] | split: '[!' %}
    {% assign callout_type = callout_info[1] %}
    {% assign content_after_callout = callout_parts[1] | remove_first: '-' %}

    {% assign new_blockquote = '<blockquote class="' | append: callout_type | append: '">' %}
    {% assign new_blockquote = new_blockquote | append: content_after_callout %}
    {% assign new_blockquote = new_blockquote | append: '</blockquote>' %}

    {% assign modified_block = pre_blockquote | append: new_blockquote %}
    {% assign output = output | append: modified_block %}
  {% else %}
    {% assign block = block | append: '</blockquote>' %}
    {% assign output = output | append: block %}
  {% endif %}
{% endfor %}

{{ output }}
